[Desktop Entry]
Name=GNOME Turtle
Name[bg]=Гноме костенурка
Name[fr]=Tortue GNOME
Comment=Draw fractals from L-Systems
Comment[fr]=Dessine des fractales à partir de L-Systèmes
Exec=gnome-turtle %f
Icon=gnome-turtle
Terminal=false
Type=Application
Categories=Graphics;Education;GTK;
StartupNotify=true
